body{
    max-width: 100%;
    box-sizing: border-box;
}

main h1{
    text-align: center;
}

button{
    margin: 0.5rem;
    padding: 0.3rem;
}

.password section{
    padding: 1rem;
}

.cadastrar{
    display: flex;
    justify-content: center;
    display: none;
}

.cadastrar section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem;
}
.cadastrar section section label{
    padding-bottom: 0.3rem;
}


.borda{
    background-color: transparent;
    border: 1px solid silver;
    border-radius: 24px;
}

#cadastrarSetor{
    display: flex;
    justify-content: center;
    display: none;
}

#cadastrarSetor section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem;
}

.abtn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    margin: 0.5rem;

    background-color: #007bff;
    color: white;
    text-decoration: none; 
    font-weight: 500;
    font-family: sans-serif;
    
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}

/* Efeito ao passar o mouse */
.abtn:hover {
    background-color: #0056b3;
}

/* Efeito ao clicar */
.abtn:active {
    transform: scale(0.98);
}

/* Cadastrar Departamento */
#cadastrarDepartamento {
    display: flex;
    justify-content: center;
}
#cadastrarDepartamento section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

#cadastrarDepartamento section input{
    margin: 1rem 0;
}

/* Cadastrar Meio de Pagamento */

.formulario{
    display: flex;
    justify-content: center;
}

.formulario section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}
.formulario section input{
    margin: 1rem 0;
}
