* {
  box-sizing: border-box;
}

:root {
  --primary: #2d3436;
  --secondary: #636e72;
  --accent: #00b894; /* Cor para o valor */
  --bg-card: #ffffff;
  --border: #dfe6e9;
}

label{
  margin: 0.3rem;
}

.despesa-card {
  font-family: 'Segoe UI', Roboto, sans-serif;
  max-width: 400px;
  background: var(--bg-card);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  border: 1px solid var(--border);
}

.despesa-card h3 {
  margin: 0 0 20px 0;
  color: var(--primary);
  font-size: 1.2rem;
  border-bottom: 2px solid var(--border);
  padding-bottom: 10px;
}

.despesa-card dt {
  color: var(--secondary);
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  align-self: center;
}

.despesa-card dd {
  margin: 0 0 0.3rem 0.3rem;
  color: var(--primary);
  font-weight: 500;
}

/* Estilo especial para o Valor */
.despesa-card dd:nth-of-type(2) { 
  font-size: 1.4rem;
  color: var(--accent);
  font-weight: 700;
}

/* Estilo para o ID técnico */
code {
  background: #f1f2f6;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
  color: #a4b0be;
}

.container {
  margin-top: 1rem;
  display: grid;
  /* Usa 1fr para que as 4 colunas dividam o espaço igualmente */
  grid-template-columns: repeat(4, 1fr);
  /* Define o gap de 3% entre as colunas */
  column-gap: 1%;
  /* Define o espaço externo de 3.5% */
  padding: 0 1%;
  row-gap: 20px;
}

#filtro{
    border: 1px solid silver;
    border-radius: 24px;
    padding: 1rem;
    margin: 1rem;
    
}

@media (max-width: 768px ){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 900px ){
  .container{
    grid-template-columns: repeat(2, 1fr);  
  } 
}